html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    
}

#canvas{
    width: 400px;
    height: 300px;
    background-color: #212121;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding-top: 50px;
    color: white;
}
#guide{
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 15px;
}
